<p>Pipe example works!</p>
<h1>4 string related pipes</h1>
<h3>{{name}}</h3>
<h3>{{name | lowercase}}</h3>
<h3>{{name | uppercase}}</h3>
<h3>{{name | titlecase}}</h3>
<h3>{{name | slice:1:5}}</h3>
<h3>{{salary}}</h3>
<h3>{{salary | number}}</h3>
<h3>{{salary | number:'10.5-7'}}</h3>
<h3>{{salary | percent }}</h3>
<h3>{{salary | percent:'10.3-5' }}</h3>
<h3>{{salary | currency:'INR':'code':'10.5-7'}}</h3>
<h3>{{salary | currency:'INR':'symbol'}}</h3>
<h3>{{birthday}}</h3>
<h3>{{birthday | date}}</h3>
<h3>{{birthday | date:'MMMM/dd/yyyy, h:mm a'}}</h3>
<h3>{{12 | madhur:12:12}}</h3>